.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

    .autocomplete-custom-template li:last-child {
        border-bottom-width: 0;
    }


.autocomplete-custom-template .item-title, 
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

.md-pane-open .md-datepicker-calendar {
    background: white;
}

md-card {
    padding: 10px 20px;
}

.fab-action {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

.logo {
    color: white !important;
    text-align: center;
    max-width: 160px;
}

md-chips {
    padding-bottom: 26px;
}
