<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    @Styles.Render("~/bundles/styles")
</head>
<body ng-app="ccapp" ng-controller="navigationController">
    @Scripts.Render("~/bundles/scripts")
</body>
</html>