<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    @Styles.Render("~/bundles/styles")
</head>
<body ng-app="capp">

        <div flex layout="column" role="main">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <a href="/#/" aria-label="Home" class="logo" flex="20" hide-sm>Contacts</a>

                    <ng-include src="'Scripts/contacts/search.html'" flex="80" flex-sm="100"></ng-include>
                </div>
            </md-toolbar>



            <md-content class="md-padding" layout="column">
                <div flex="20" hide-sm></div>
                <div flex="80" flex-sm="100" layout="column">
                    <md-card>

                        <ng-view></ng-view>

                    </md-card>
                </div>
            </md-content>

            <md-button class="md-fab fab-action" aria-label="Add contact" href="/#/contacts/new">
                <md-icon md-svg-src="images/icons/ic_person_add_white_24px.svg"></md-icon>
            </md-button>
        </div>


    @Scripts.Render("~/bundles/scripts/lib")
    @Scripts.Render("~/bundles/scripts")
</body>
</html>